<div class="promotion">
    <label for="promo-code">Have A Promo Code?</label>
    <h3>Nhập mã: ccc</h3>
    <input type="text" id="promo-code" [(ngModel)]="code" name="code"/>
    <button type="button" (click)="getCode()"></button>
</div>

<div class="summary">
    <ul>
        <li>Subtotal <span>{{subBill | currency:'VND'}}</span></li>
        <li>Tax <span>10 %</span></li>
        <li class="total">Total <span>{{bill | currency:'VND'}}</span></li>
    </ul>
</div>

<div class="checkout">
    <button type="button">Check Out</button>
</div>
